@page "/instructors"
@attribute [StreamRendering]

<PageTitle>Instructors</PageTitle>

<h1>Instructors</h1>

@if (instructors == null)
{
    <p><em>Loading...</em></p>
}
else if (!instructors.Any())
{
    <p><em>No instructors found.</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Picture</th>
                <th>Name</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var instructor in instructors)
            {
                <tr>
                    <td>
                        <img src="https://cdn-icons-png.flaticon.com/512/149/149071.png" alt="Instructor Picture" class="img-thumbnail"
                            style="width: 100px; height: 100px;" />
                    </td>
                    <td>@instructor.Name</td>
                    <td>@instructor.Email</td>
                </tr>
            }
        </tbody>
    </table>
}


@code {
    private List<User>? instructors;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var apiUrl = "http://localhost:5256/api/User/role/Instructor";
            using var httpClient = new HttpClient();
            instructors = await httpClient.GetFromJsonAsync<List<User>>(apiUrl);
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error fetching instructors: {ex.Message}");
            instructors = new List<User>();
        }
    }

    private class User
    {
        public string Name { get; set; } = string.Empty;
        public string Email { get; set; } = string.Empty;
        public string ProfilePictureUrl { get; set; } = "https://cdn-icons-png.flaticon.com/512/149/149071.png";
    }
}
